* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Microsoft YaHei', 'iconfont';
    font-size: 14px;
    color: #333333;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: #333333;
}

ol,
ul,
li {
    list-style-type: none;
}

input {
    outline: none;
    color: #999999;
    font-size: 13px;
    text-indent: 5px;
}

select {
    border: 1px solid #dddddd;
    color: #999999;
    float: left;
}

.false {
    color: #ff2626;
    margin-left: 5px;
    display: none;
}

.true {
    color: #69b338;
    margin-left: 5px;
    display: none;
}
